/* .card {
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
  }
  
  img {
    width: 100%;
    border-radius: 25px;
  }
  
  h2 {
    color: #d56f3e;
  }
  
  span {
    color: #9d6f24;
  }
  
  h4 {
    text-align: right;
    color: #3c787e;
  }
  
  #pets {
    display: flex;
    justify-content: space-evenly;
  } */


h2{
    color:rgb(246, 65, 0);
}

span{
    color: rgb(194, 81, 0);
}
h4{
    text-align: right;
    color: rgb(3, 156, 226);
}
img{
    width: 100%;
    border-radius: 25px;
}
.card{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

#pets{
    display: flex;
    justify-content: space-evenly;
}

@media(max-width : 375px)
{
    #pets{
        flex-wrap: wrap;
    }
}