<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>This is home page 9+2</h1>
    <h1><%= 9*2 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque facere distinctio eos, quibusdam quidem nam quis quas explicabo officia nisi facilis minima eum nihil accusantium blanditiis ex molestiae velit fugit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde laudantium qui blanditiis praesentium molestias distinctio, enim quidem quo! Ea repudiandae tempora quidem necessitatibus itaque tempore eos natus amet magnam quo.
        Iure tempora minima cum iusto saepe vel? Sequi a vero molestias, ad omnis eveniet expedita exercitationem veritatis sed error. Similique minus sed qui ab maxime, rerum quos earum fugit facilis.
        Nisi atque, vel praesentium, dolorum voluptatem tenetur quas veniam similique facilis doloribus est ducimus sequi voluptates nostrum perspiciatis ipsa soluta. Excepturi magni repellendus placeat consequuntur soluta quam impedit! Vel, enim.
        Tempore perferendis repellat facere, quos vitae cumque tempora nihil obcaecati autem ullam sit fugit earum fuga quibusdam dolorem, rem officiis eum illo inventore quod saepe incidunt. Qui assumenda obcaecati dolor?
        Laudantium velit mollitia natus, unde ipsam sunt. Vitae odio dolore in fugiat fugit, commodi quis facilis impedit aut quisquam, exercitationem dignissimos quas. Facere nesciunt facilis dolorum, repellendus incidunt rerum iste.
    </p>
    <button>click me</button>
</body>
</html>