h1{
    color: maroon;
}
.post{
    background-color: blanchedalmond;
}
.user{
    background-color: gainsboro;
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    font-style: italic;
    margin-top: 1px;
    margin-bottom: 0;
}
div{
    border: 2px solid black;
    margin: 20px;
    width: 50%;
    border-radius: 10px;
}