body {
    font-family: Montserrat;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;

}

.sidebar{
    background-color: red;
    width: 300px;
}

.main-content{
    background-color: yellow;
    flex: 1;
}

.music-player{
    background-color: blue;
}