<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All Chats</h3>
    <% for(chat of chats){ %>
        <div class="chat">
            <p><b>From:</b> <%= chat.from %></p>
            <div class="msg">
                <p><%= chat.message  %></p>
            </div>
            <p><b>Received by: </b><%= chat.to %></p>
        </div> 
        <hr>
    <% } %>
</body>
</html>

