<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/posts" method="post">
        <h1>Create New Post</h1>
        <div><br>
        <input type="text" placeholder="Enter username " name="username"><br><br>
        <textarea name="content" placeholder="write your post"></textarea><br><br>
        <button class="innerBtn">Submit Post</button>
        </div>
    </form>
</body>
</html>