<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <h1>Create New Post and Post them</h1>
    <form action="/posts" method="post">
        <input type="text" name="username" id="username" placeholder="Enter username "><br><br>
        <textarea name="content" id="content" placeholder="Enter post content"> </textarea><br><br>
        <button>Submit post</button>
    </form>
    
</body>
</html>